* {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #000000;
}

nav {
  position: fixed;
}

#navbarNav ul li a:first-child {
  padding-top: 5px;
  margin-top: 5px;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.border-bottom {
  border-bottom: 3px thick #000000;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.cart #shopping-cart {
  display: none;
  position: relative;
}

.cart:hover #shopping-cart {
  display: block;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  right:0;
  top:100%;
  background-color: #FFFFFF;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.remove {
  background-color: red;
  border-radius: 50%;
  padding: 2px 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bg-color {
  background-color: #e4e4e4;
}

footer {
  background-color: beige;
}

.footer {
  margin-top: 50px;
}